{% extends "@front/layout.html.twig" %}
{% form_theme form "@front/Form/password.html.twig" %}
{% block content %}

    <section>
    <!-- less: s_breadcrumbs.less -->
    {#{% include "@front/layout/breadCrumbs.html.twig" %}#}
    <!--end less: s_breadcrumbs.less -->

    <!-- less: s_news-list.less -->
    <figure class="list promotions-list setting profile">
        <header>
            <h1>{{ 'change_password'|trans({}, 'users') }}</h1>
        </header>



        <article>
            <header>
                <h3>{{ 'change_password'|trans({}, 'users') }}</h3>
            </header>
            <div>
                {{ form(form) }}

            </div>
        </article>
    </figure>
    <!--end less: s_news-list.less -->
        {% include "@front/layout/right_cabinet_menu.html.twig" %}
    <div ctyle="clear:both;"></div>



    </section>



{% endblock %}